body {
    display: flex;
    width: 100%;
    /* overflow-x: hidden; */
    align-items: center;
    flex-direction: column;


}




.wrapper {
    width: 1400px;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* nav section */

nav {
    height: 60px;
    background: #373A3C;
    border-radius: 4px 4px 0px 0px;
    width: 100%;
}

nav ul {
    margin-left: 288px;
    align-items: center;
}

nav ul li {
    align-items: flex-end;
}

nav li a {
    font-family: 'HelveticaNeue';
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: #FFFFFF;
}

nav li+li a {
    margin-left: 25px;
    color: rgba(255, 255, 255, 0.5);
    align-items: flex-end;
}

nav li button {
    background-image: url('/images/Shape.svg');
    width: 12px;
    height: 7px;
    border: none;
    border-radius: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin-left: 8px;
}

nav li input {
    display: flex;

    margin-left: 37px;
    width: 210px;
    height: 38px;
    border: none;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    align-items: center;

    font-family: 'HelveticaNeue';
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    color: black;
    padding: 15px;


}

nav li input::placeholder {

    color: #435766;
    mix-blend-mode: normal;
    opacity: 0.4;

}

nav li+li+li+li+li a {
    margin-left: 0;
}

nav li+li+li+li+li::before {
    content: '';
    display: inline-block;
    margin-left: 30px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('/images/PeopleShape.svg');
}

nav li+li+li+li+li button {

    margin-left: 9px;
}

/* nav section end*/


/* carusel section */

.carusel {
    margin-top: 3px;

    height: 648px;
    width: 1400px;
    background-position: center;
    background-size: auto 648px;
    background-image: url('/images/Star-Wars-Battlefront-II-combat.jpg');
    justify-content: space-between;
    box-shadow: 0px -3px 0px #777777;

}

.carusel button {


    width: 135px;
    height: 648px;

    border: none;
    border-radius: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;

    background-position: center;
    background-size: 14px 14px;
    background-image: url('/images/icon-prev.svg');
    background-repeat: no-repeat;

}

.carusel button+div+button {

    transform: rotate(180deg);

}

.carusel div {
    display: flex;
    flex-wrap: wrap;
    width: 1130px;
    justify-content: flex-end;
    align-items: flex-start;


}

.carusel div div {


    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 126px;
    width: 433px;
    height: 238px;
}

.carusel button+div div h1 {

    display: flex;
    font-family: 'HelveticaNeue';
    font-size: 36px;
    line-height: 42px;
    /* identical to box height */


    color: #FFFFFF;

    width: 100%;
    margin-top: 0;
}

.carusel button+div div p {
    display: flex;
    font-family: 'HelveticaNeue';
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */


    color: #FFFFFF;
    width: 100%;
}

.carusel button+div div div {
    height: auto;
    width: auto;
    margin-top: 134px;
    margin-left: 0px;

}

.carusel button+div div div button {
    width: 136px;
    height: 38px;
    background: #8DD83D;
    border-radius: 4px;

    font-family: 'HelveticaNeue';
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */


    color: #FFFFFF;
}

.carusel button+div div div button+button {
    width: 148px;
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    margin-left: 13px;

    font-family: 'HelveticaNeue';
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */


    color: #FFFFFF;
}


.carusel button+div+button+div {
    position: absolute;
    position: relative;
    width: 50px;
    height: 10px;
    top: calc(50% - 5px - 43px);
    left: calc(-50% + 25px);


}

.carusel button+div+button+div button {
    width: 10px;
    height: 10px;
    background: #8DD83D;
    border-radius: 50%;
}

.carusel button+div+button+div button+button {
    margin-left: 10px;
    background: rgba(255, 255, 255, 0.0001);
    border: 1px solid #8DD83D;
}

/* carusel section end */


/* highlights-Section */

.highlights-Section {
    flex-direction: column;
    align-content: center;
    justify-items: center height: 865px;
    width: 1400px;
    height: 865px;
    background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
    flex-wrap: wrap;
    display: flex;
}


.highlights-Section img {
    margin-top: 64px;

}

.highlights-Section h1 {
    font-family: 'HelveticaNeue';
    font-size: 48px;
    line-height: 56px;
    /* identical to box height */


    color: #FFFFFF;

    margin-top: 16px;

}

.highlights-Section p {
    font-family: 'HelveticaNeue';
    font-size: 36px;
    line-height: 42px;
    /* identical to box height */


    color: #FFFFFF;
}


.highlights-Section div div {
    width: 320px;
    height: 420px;
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background: #FFFFFF;
    border: 1px solid #8DD83D;
    border-radius: 4px;
}

.highlights-Section div div+div {
    margin-left: 64px;
}

.highlights-Section div div img {
    margin-top: 0;
}

.highlights-Section div div p {
    font-family: 'HelveticaNeue';
    font-size: 18px;
    line-height: 21px;
    color: #435766;
    margin-top: 22px;
    margin-left: 22px;
}

.highlights-Section div div h1 {
    font-family: 'HelveticaNeue';
    font-size: 24px;
    line-height: 28px;
    color: #435766;
    margin-top: 13px;
    margin-left: 22px;
}

.highlights-Section div div button {
    width: 278px;
    height: 60px;
    background: #8DD83D;
    border: none;
    border-radius: 4px;
    margin-top: 38px;
    margin-left: 22px;

    font-family: 'HelveticaNeue';
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

/* highlights-Section end */

/* games-section */

.games-section {
    width: 1400px;
    height: 865px;
    background-image: url('/images/Rectangle.jpg');
    align-content: center;
    flex-wrap: wrap;
    display: flex;

}

.games-section div {
    width: 1400px;
    height: 865px;
    background: rgba(23, 23, 23, 0.5);

}

/* games-section end */